body { 
    background-color: #2B2727;
    font-family: 'Fira Code';
 }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}  

.content { 
    color: white;
    font-size: 14px;
    font-weight: 650;
}

.content p { 
    width: 50%;
}

.color-one { 
    color: #F9FD4B;
}

.content .color-two { 
    color: #3B64F5;
}

.content a {
    color: white;
    display: block;
    text-decoration: none;
} 
 