body { 
    padding: 0;
    margin: 0;
    background-color: #2B2727;
    font-family: 'Fira Code';
 }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  

.content { 
    height: 550px;
    width: 550px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 650;
}

.content p { 
    width: 50%;
}

.color-one { 
    color: #F9FD4B;
}

.content .color-two { 
    color: #3B64F5;
}

.content a {
    color: white;
    display: block;
    text-decoration: none;
} 
 