body {
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social {
  padding-top: 10px;
}

.social a {
  color: rgb(75, 77, 217);
  text-decoration: none;
}
